.contact-title {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 32px;
    color: #003366;
    margin-top: 48px;
  }
  .info {
    width: 90%;
    height: 700px;
    background-color: #003366;
  }
  .par {
    color: white;
  }


  .contactForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .formGroup textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submitButton {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }